
/* Top Bar */
.top-bar {
    background: #ffffff;
    color: rgb(58, 14, 14);
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
}

    .top-bar .left,
    .top-bar .right {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    /* .top-bar .logo {
    flex-grow: 1;
    text-align: center;
} */
    .top-bar .logo img {
        width: 200px;
        /* Điều chỉnh kích thước logo */
        height: 100px;
        /* Giữ tỷ lệ khung hình */
    }

    .top-bar .right a {
        color: rgb(58, 14, 14);
        text-decoration: none;
        font-size: 14px;
    }

    .top-bar .right i {
        font-size: 18px;
    }

/* Cart Icon */
.cart-count {
    background: green;
    color: rgb(58, 14, 14);
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 50%;
    position: relative;
    top: -15px;
    left: -5px;
}

/* Navbar */
.navbar {
    background: #e9e6e6;
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    padding: 15px 50px;
}

.top-bar .right a {
    color: rgb(58, 14, 14);
    text-decoration: none;
    font-size: 14px;
}

.top-bar .right i {
    font-size: 18px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
    justify-content: center;
    /* Căn giữa các liên kết */
    flex: 1;
}

    .nav-links li a {
        color: rgb(58, 14, 14);
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        transition: background 0.3s;
    }

        .nav-links li a:hover {
            color: brown;
            border-radius: 5px;
        }
